@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800');

html{
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

body {
  margin: 0 auto;
  float: left;
  background-image: url("../img/lander.jpg");
}

.button {
	text-decoration: none;
  color: white;
  background-color: #ee7f00;
  border-radius: 50px;
  border-color: #ee7f00;
  position: absolute;
  z-index: 9999;
  font-size: 30px;
  margin-top: 30%;
  margin-left: 43%;
  cursor: pointer;
  padding: 6px;
}

.lander {
    -webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 4s; /* Firefox < 16 */
        -ms-animation: fadein 4s; /* Internet Explorer */
         -o-animation: fadein 4s; /* Opera < 12.1 */
            animation: fadein 4s;
            display: block;
            z-index: 0;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@media only screen and (min-width: 600px) {
    /* For any screen wider than 600px (mostly tablets) */
    .f-col-m-1 {width: 8.33%;}    /* (100/12)*1 */
    .f-col-m-2 {width: 16.66%;}   /* (100/12)*2 */
    .f-col-m-3 {width: 25%;}      /* (100/12)*3 */
    .f-col-m-4 {width: 33.33%;}   /* (100/12)*4 */
    .f-col-m-5 {width: 41.66%;}   /* (100/12)*5 */
    .f-col-m-6 {width: 49%;}      /* (100/12)*6 */
    .f-col-m-7 {width: 58.33%;}   /* (100/12)*7 */
    .f-col-m-8 {width: 66.66%;}   /* (100/12)*8 */
    .f-col-m-9 {width: 75%;}      /* (100/12)*9 */
    .f-col-m-10 {width: 83.33%;}  /* (100/12)*10 */
    .f-col-m-11 {width: 91.66%;}  /* (100/12)*11 */
    .f-col-m-12 {width: 92%;     padding: 4% 4% 5% 4%;}    /* (100/12)*12 */
}

@media only screen and (min-width: 768px) {
    /* For any screen wider than 768px (eg. laptops, desktops) */
    .f-col-1 {width: 8.33%;}      /* (100/12)*1 */
    .f-col-2 {width: 16.66%;}     /* (100/12)*2 */
    .f-col-3 {width: 25%;}        /* (100/12)*3 */
    .f-col-4 {width: 32.33%;}     /* (100/12)*4 */
    .f-col-5 {width: 41.66%;}     /* (100/12)*5 */
    .f-col-6 {width: 50%;}        /* (100/12)*6 */
    .f-col-7 {width: 58.33%;}     /* (100/12)*7 */
    .f-col-8 {width: 66.66%;}     /* (100/12)*8 */
    .f-col-9 {width: 75%;}        /* (100/12)*9 */
    .f-col-10 {width: 83.33%;}    /* (100/12)*10 */
    .f-col-11 {width: 91.66%;}    /* (100/12)*11 */
    .f-col-12 {width: 100%;}      /* (100/12)*12 */
}


@media screen and (max-width: 600px) {
  .button {
    margin-top: 80%;
  }
  .body {
    background-image: url("../landermobiel.jpg");
  }
}

@media screen and (max-width: 768px) {
  .button {
      margin-top: 50%;
  }
  .body {
    background-image: url("../landermobiel.jpg");
  }
}

/**ACHTERGROND FOTO VERANDERD NIET**/