@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800');

html{
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

body {
  margin: 0 auto;
  float: left;
}

img.lander {
	width: 100%;
	height: 100vh;
	position: relative;
}

.text {
  position: absolute;
  top: 50%;
  left: 40%;
}

a {
	text-decoration: none;
}

p {
	border-style: none none solid none;
	border-color: white;
	border-width: 1px;
	color: #FFF;
	text-align: center;
	position: absolute;
	z-index: 9999;
	font-size: 100px;
	transition-duration: 0.9s;
}

/**Tekst welkom in het midden krijgen**/

p:hover {
	border-width: 2px;
	font-size: 100px;
	letter-spacing: 2px;
	text-align: center;
}

.lander {
    -webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 4s; /* Firefox < 16 */
        -ms-animation: fadein 4s; /* Internet Explorer */
         -o-animation: fadein 4s; /* Opera < 12.1 */
            animation: fadein 4s;
            display: block;
            z-index: 0;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
