@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800');

html{
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

body {
  margin: 0 auto;
  float: left;
  background-image: url("../img/lander.jpg"); 
}


.button {
	text-decoration: none;
  color: white;
  background-color: #ee7f00;
  border-radius: 50px;
  border-color: #ee7f00;
  position: absolute;
  z-index: 9999;
  font-size: 30px;
  margin-top: 30%;
  margin-left: 43%;
  cursor: pointer;
  padding: 6px;
}

.lander {
    -webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 4s; /* Firefox < 16 */
        -ms-animation: fadein 4s; /* Internet Explorer */
         -o-animation: fadein 4s; /* Opera < 12.1 */
            animation: fadein 4s;
            display: block;
            z-index: 0;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


@media screen and (max-width: 667px) {
  .button {
    width: 80%;
       margin-left: 0px;
    margin-top: 80%;
  }
  body {
    background-image: url("../img/landermobiel.jpg");
  }
}

@media screen and (max-width: 768px) {
  .button {
    width: 80;
    margin-top: 50%;
  }
  body {
    background-image: url("../img/landermobiel.jpg");
  }
}

/**ACHTERGROND FOTO VERANDERD NIET**/